@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-yellow: "#E1A725";
    --color-blue: "#39BADF";
    --color-pink: "#E85382";
  }

  .theme-yellow {
   --color-yellow: "#E1A725";
  }
  .theme-blue {
    --color-blue: "#39BADF";
  }
  .theme-pink {
    --color-pink: "#E85382";
  }
}


.active {
  @apply bg-white;
}



.pokemon-card {
  transition: transform 0.3s ease-in-out;
}

.view-more-btn {
  transition: opacity 0.3s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(0.9);
}

.view-more-btn {
  opacity: 0;
}

.pokemon-card:hover .view-more-btn {
  opacity: 1;
}

.search-icon {
  transition: transform 0.3s ease-in-out;
}

.search-icon:hover {
  transform: scale(1.1);
}