@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
  @apply bg-white;
}


.pokemon-grid {
  transition: grid-template-columns 0.3s ease;
}

.pokemon-grid:hover {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}



.pokemon-card {
  transition: transform 0.3s ease-in-out;
}

.view-more-btn {
  transition: opacity 0.3s ease-in-out;
}

.pokemon-card:hover {
  transform: scale(0.9);
}

.view-more-btn {
  opacity: 0;
}

.pokemon-card:hover .view-more-btn {
  opacity: 1;
}

.search-icon {
  transition: transform 0.3s ease-in-out;
}

.search-icon:hover {
  transform: scale(1.1);
}